<a href="https://colab.research.google.com/github/keonyoung00/AIpython/blob/main/250328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")

Hello World

In [8]:
try:
  a, b = map(int, input("두 숫자를 입력하세요. ").split())

  if a > b:
    print(f"{a}는 {b}보다 큽니다.")
  elif a < b:
    print(f"{a}는 {b}보다 작습니다.")
  else:
    print(f"{a}는 {b}와 같습니다.")
except ValueError:
  print("입력값이 잘못되었습니다.")

a 3
입력값이 잘못되었습니다.

In [12]:
try:
  num1, num2, num3 = map(int, input("세 숫자를 입력하세요. ").split())
  max_num = num1
  if num1 <= num2:
    max_num = num2
  if num2 <= num3:
    max_num = num3
  print(max_num)
except ValueError:
  print("입력값이 잘못되었습니다.")

1 2 a
입력값이 잘못되었습니다.

In [17]:
score = input("점수를 입력하세요: ")
try:
  score = int(score)
  if score >= 90:
    print("'A'학점입니다.")
  elif score >= 80:
    print("'B'학점입니다.")
  elif score >= 70:
    print("'C'학점입니다.")
  elif score >= 60:
    print("'D'학점입니다.")
  else:
    print("'F'학점입니다.")
except ValueError:
  print("입력값이 잘못되었습니다.")

점수를 입력하세요: 80
'B'학점입니다.

In [20]:
len(range(2,2))

0

In [23]:
year = input("년도를 입력하세요: ")

try:
  year = int(year)

  if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year}년은 윤년입니다.")
  else:
    print(f"{year}년은 윤년이 아닙니다.")
except ValueError:
  print("입력값이 잘못되었습니다.")

년도를 입력하세요: 2012
2012년은 윤년입니다.

In [27]:
for i in range(1, 6):
  print(i)

1
2
3
4
5

In [37]:
N = int(input())
sum = 0
for i in range(N):
  sum += i + 1
print(sum)

10
55

In [46]:
numbers = [10, 25, 5, 18, 32]
print("리스트의 요소:")
for num in numbers:
  print(num)

리스트의 요소:
10
25
5
18
32

In [47]:
count = 0
print("0부터 9까지 출력:")
while count < 10:
  print(count)
  count += 1
print("while루프 종료")

0부터 9까지 출력:
0
1
2
3
4
5
6
7
8
9
while루프 종료

In [48]:
print("0부터 9까지 출력:")
for i in range(10):
  print(i)
print("for 루프 종료")

0부터 9까지 출력:
0
1
2
3
4
5
6
7
8
9
for 루프 종료